/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Lobster);

/* Table of Content
==================================================

	#Page Styles
	#Media Queries
	#Font-Face */

/* #Page Styles
================================================== */

	.us {
		margin: 0 auto;
		text-align: center;
		margin-top: 200px;
		color: #0B46AB;
	}

	.us-title {
		font-family: 'Lobster', cursive;
		color: #0B46AB;
		margin-top: 30px;
	}

	.fa-6x {
		font-size: 6em;
	}

	.fa-7x {
		font-size: 7em;
	}

	.fa-8x {
		font-size: 8em;
	}

	.fa-9x {
		font-size: 9em;
	}

	.fa-10x {
		font-size: 10em;
	}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}